@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

/* 
==========================================
CREATE CSS variables by declaring them with double dash marks! For example:

:root{
--nav-bar: blue;
--text-color: black;
--div-padding: 25px;
--div-margin: 15 px;
}

...etc. To use a CSS variable on a certain element, call the CSS function var() with the desired variable as an argument. For example: 

.child {
  background-color: var(--nav-bar);
}
https://www.youtube.com/watch?v=oZPR_78wCnY
============================================
 */

:root {
  font-family: 'Kanit', sans-serif;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
    background-image: url("../cabin-copy.png");
    background-size: cover;
    background-repeat: no-repeat;
}

header {
  box-sizing: border-box;
  background-color: rgba(211, 211, 211, 0.6);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  backdrop-filter: invert(90%);
}

nav {
  font-size: 20px;
  text-decoration: none;
  list-style: none;
}

.navbar li {
  display: inline-flex;
  padding: 0 30px;
}

.navbar li a {
  transition: all 0.3 ease 0s;
}

.navbar li a:hover {
  color: black;
}

/* nav {
    backgrund-color: #ddd;
    background: transparent;
    backdrop-filter: invert;
    height: 3rem;
    display: grid;
    align-items: center;
    box-shadow: var(--dark-shadow);
  }
  .nav-center {
    width: 90vw;
    max-width: var(--fixed-width);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-center h4 {
    margin-bottom: 0;
    color: var(--clr-primary-5);
  }
  .nav-links {
    display: flex;
  }
  nav a {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1rem;
    color: var(--clr-primary-1);
    letter-spacing: var(--spacing);
    margin-right: 1rem;
  }
  nav a:hover {
    color: var(--clr-primary-5);
  } */

.heading {
    color: gold;
    background-color: transparent;
}