/* 
==========================================
CREATE CSS variables by declaring them with double dash marks! For example:

:root{
--nav-bar: blue;
--text-color: black;
--div-padding: 25px;
--div-margin: 15 px;
}

...etc. To use a CSS variable on a certain element, call the CSS function var() with the desired variable as an argument. For example: 

.child {
  background-color: var(--nav-bar);
}
https://www.youtube.com/watch?v=oZPR_78wCnY
============================================
 */

 @import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');


:root {
  font-family: 'Kanit', sans-serif;
  text-decoration: none;
  margin: 0;
  padding: 0;
  --clr-prime: rgba(20, 240, 220, .8);
  --clr-split: rgba(240, 240, 30, .9);
  --clr-accent: rgba(240, 80, 240, 0.9);
  --clr-k: black;
  --clr-w: whitesmoke;
  --clr-g: grey;

}

body {
    /* color: var(--clr-w); */
    height:1000vh;
    position: relative;
}

.background-cabin {
  margin: 8px;
  border: 2px;
  border-color: var(--clr-k);
  width: 100%;
  height: 1000px;
  background-position: center;
  background-size: contain;
  background-image: url("../cabin-copy.png");
  /* background-size: 75%; */
  background-attachment: fixed;
  background-repeat: no-repeat;
}

header {
  position: fixed;
  top: 8px;
  width: 100%;
  box-sizing: border-box;
  height: auto;
  display: inline-flex;
  align-items: center;
  backdrop-filter: invert(75%);
}

nav {
  font-size: 22px;
  text-decoration: none;
  list-style: none;
}

.navbar li {
  color: var(--clr-prime);
  display: inline-block;
  padding: 0 30px;
}

.navbar a:visited,
.navbar a:link {
  color: var(--clr-split);
  transition: all 0.3s ease-out;
}

.navbar li a:hover {
  color: var(--clr-prime);
}

#sitehead {
  margin-left: 8px;
  color: var(--clr-prime);
}

.intro {
  font-size: 24px;
  margin: 25px;
  padding: 50px;
  align-items:center;
  justify-content:space-around;
  display: flex;
  flex-direction: column;
  color: aquamarine;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em rgb(45, 142, 142);
}

/* #h2 {
  margin: 100 px;
  padding: 10px;
} */

#div1, #div2{
  margin: 100px;
  /* padding-left: 10px; */
}

p {
  font-size: 30px;
  text-shadow: 2px 2px 1px var(--clr-k);
  color: var(--clr-accent);
  background-color: var(--clr-g);
  margin: 100px;
  padding: 5px 15px;
  width: fit-content;
}
