@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

/* 
==========================================
CREATE CSS variables by declaring them with double dash marks! For example:

:root{
--nav-bar: blue;
--text-color: black;
--div-padding: 25px;
--div-margin: 15 px;
}

...etc. To use a CSS variable on a certain element, call the CSS function var() with the desired variable as an argument. For example: 

.child {
  background-color: var(--nav-bar);
}
https://www.youtube.com/watch?v=oZPR_78wCnY
============================================
 */

:root {
  font-family: 'Kanit', sans-serif;
  background-image: url("../cabin-copy.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ddd;
  backdrop-filter: invert;
}

nav {
    background-color: #ddd;
    background: transparent;
    backdrop-filter: invert;
    height: 3rem;
    display: grid;
    align-items: center;
    box-shadow: var(--dark-shadow);
  }
  .nav-center {
    width: 90vw;
    max-width: var(--fixed-width);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-center h4 {
    margin-bottom: 0;
    color: var(--clr-primary-5);
  }
  .nav-links {
    display: flex;
  }
  nav a {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1rem;
    color: var(--clr-primary-1);
    letter-spacing: var(--spacing);
    margin-right: 1rem;
  }
  nav a:hover {
    color: var(--clr-primary-5);
  }

.heading {
    color: gold;
    background-color: transparent;
}