
:root {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    margin: 10px;
    width: 25%;
    border: solid 2px red;
}

img[src="https://via.placeholder.com/150"]{
    border: dotted 3px #39f;
}

.testplay, h1 {
    border: solid 2px black;
}

.testplay {
    display: flex;
    flex: 1;
}

.testplay > p {
    font-size: 1.25em;
}

#test-1 {
    display: block;
    background-color: #eee;
}

#test-2 {
    background-color: #bbb;
}

#test-3 {
    display: block;
}

.columns {
    width: 100%;
    border: solid 2px blue;
}

.columns > div {
    width: 49.5%;
    border: solid 2px black;
    float: left;
    background-color: #aaa;
}

.columns-2 {
    border: solid 2px forestgreen;
    display: flex;
}

.columns-2 > div {
    border: solid 1px gold;
    flex: 1;
    background-color: #ccc;
}

.columns-3 {
    border: solid 2px gray;
    display: flex;
}

.columns-3 > div {
    border: solid 1px orange;
    flex: 1;
    background-color: #39f;
}

.columns-3 > div:nth-of-type(2) {
    flex: 2;
    background-color: #eee;

}
